@model CrudDemo.Models.Student
@{ Layout = "_Layout";
    ViewData["Title"] = "Student Details"; }

<h1>Details Student</h1>

<div class="mb-3">
    <label class="form-label">Nama</label>
    <input class="form-control" value="@Model.Nama" readonly />
</div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" value="@Model.Email" readonly />
</div>
<div class="mb-3">
